# Project place file
/crunchwrap.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

/node_modules
/out
/include
*.tsbuildinfo

.pesde/
.luau_packages/
.roblox_packages/
.lune_packages/

sourcemap.json
